/* line 2, ../sass/rs-admin.scss */
#rs_meta .inside {
  display: table;
}
/* line 4, ../sass/rs-admin.scss */
#rs_meta .inside p {
  display: table-row;
  padding: 0.5rem;
}
/* line 7, ../sass/rs-admin.scss */
#rs_meta .inside p label, #rs_meta .inside p select, #rs_meta .inside p div, #rs_meta .inside p textarea {
  display: table-cell;
}
/* line 10, ../sass/rs-admin.scss */
#rs_meta .inside p label {
  padding: 0 1rem 1rem;
}
