/* line 1, ../sass/rs-call-to-action.scss */
.banner {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 1170px) 1fr;
}
/* line 4, ../sass/rs-call-to-action.scss */
.banner .innerwrapper {
  text-align: center;
  text-shadow: 1px 1px #333333;
  max-width: 80%;
  margin: 0 auto;
  grid-column: 2 / 3;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* line 14, ../sass/rs-call-to-action.scss */
.banner .innerwrapper img {
  padding: 2rem 0 1rem 0;
}
/* line 17, ../sass/rs-call-to-action.scss */
.banner .innerwrapper a {
  text-decoration: none;
  max-width: 200px;
  margin: 1rem auto 0;
  display: block;
}
