#rs_meta {
    .inside {
        display: table;
        p {
            display: table-row;
            padding: 0.5rem;
            label, select, div, textarea {
                display: table-cell;
            }
            label {
                padding: 0 1rem 1rem;
            }
        }
    }
}